*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.452),rgba(0,0,0,0.5)), url(c1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display:inline-block
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
   
}

ul li a:hover{
    background-color: #fff;
    color: #000;
    
}

ul li.active a:hover{
background-color:linear-gradient(rgba(10, 123, 175, 0.5),rgba(247, 222, 222, 0.5));
color:#000;
}

ul li.active a{
    background-color: #fff;
    color: rgb(164, 233, 185);
    
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.navbut{
    max-width: 1200px;
    margin: auto;
}
.checkbtn{
    font-size:30px ;
    color:white;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size:30px;
        padding-left: 50px;

    }
    nav ul lin a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background: #2c3e50;
        top:80px;
        left:0;
        text-align: center;
    }
}

.title{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 70px;

}